<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new Product</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    
    
 <section class="card " style="width: 20rem">
    <h2>Create new product</h2>
    <form method="post" action="/api/products/create">
        <div class="mb-1">
            <label for="product_name" class="form-label">Product name</label>
            <input type="text" class="form-control" id="product_name" placeholder="HP 15s" name="product_name">
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Product category</label>
            <input class="form-control" id="category"name="category" ></input>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Product price</label>
            <input class="form-control" id="price"name="price" ></input>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Product description</label>
            <textarea class="form-control" id="description"name="description" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">ADD Product</button>
        </form>
 </section>
 <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>